<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789491833971-r6is1dppm2c19409pd93drgq8ojbukmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789491833971-r6is1dppm2c19409pd93drgq8ojbukmh</string>
	<key>API_KEY</key>
	<string>AIzaSyCaaXTHR9Bp_IBMzZCs_CMe0TEsfXP6eBk</string>
	<key>GCM_SENDER_ID</key>
	<string>789491833971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CSapplication</string>
	<key>PROJECT_ID</key>
	<string>csmyapp-f15fb</string>
	<key>STORAGE_BUCKET</key>
	<string>csmyapp-f15fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789491833971:ios:f08cde9b916d928d8b1e06</string>
	<key>DATABASE_URL</key>
	<string>https://csmyapp-f15fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>